# Python
__pycache__/
*.pyc
/build
/dist
/*.egg-info

# Virtual environments
venv/
/.venv*

# Tool caches
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# IDE and editor
.vscode/settings.json
*code-workspace
.idea/
/.devcontainer
.DS_Store

# Docs
/docs/build

# Runtime artifacts from running pycaret
*.log
mlruns/
/mlruns.db
/mlruns.db-journal
catboost_info/
dask*/
trained_models/
*.pkl
tmp/
